body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  height:400px;
  width:200px;
  text-align: left;
  padding-top: 30px;
  padding-left: 40px;
  border: 1px solid black;
  float: left;
  margin:20px;
}

.websitecontainer{
  padding:50px;
}
.bannerBox{
  
  width:850px;
  text-align: center;
}
